.user-experiences {
  width: 70%;
  margin-top: 1%;
}

.delete-btn {
  background-color: #f44336 !important;
}

mat-card {
  background-color: black;
}

mat-expansion-panel {
  background-color: rgb(25, 23, 23);
  color: white;
}

mat-accordion, mat-expansion-panel-header {
  color: white;
}
