<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <div class="yourport-card-title">
        <div>Skills</div>
        <mat-spinner class="yourport-spinner-sm" *ngIf="loading"></mat-spinner>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button (click)="addSkill()" [disabled]="loading">
      <span class="emphasize-teal font-bold">Add Skill</span>
      <mat-icon class="emphasize-teal">add</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-content>
    <div class="yourport-chipset">
      <div class="yourport-chip flex-center" *ngFor="let skill of skills">
        {{ skill.name }}
        <mat-icon (click)="deleteSkill(skill.id)" class="delete-chip-btn">close</mat-icon>
      </div>
    </div>
  </mat-card-content>
</mat-card>
