# OS Files
Thumbs.db
.DS_Store

# node.js
node_modules
*.sqlite

*.env

client_secret.json

# Server Files
/server/node_modules
/server/*.sqlite

# Angular Files
/client/dist
/client/node_modules
/client/*.js
/client/*.js.map
/client/*.css
/client/*.css.map