<app-auth-header
  (onBalanceChange)="updateBalance($event)"
  [triggerCreditsRefresh]="triggerCreditsRefresh"
>
</app-auth-header>

<div class="job-search-center">
  <app-job-search
    [formValues]="currentQuery"
    (newSearch)="onSearch($event)"
  ></app-job-search>
</div>

<div
  *ngIf="jobSearchResult.length > 0; else showNothing"
  class="row job-container"
>
  <div class="col-4">
    <app-job-preview
      *ngFor="let jobData of jobSearchResult"
      [jobData]="jobData"
      (click)="setItem(jobData.id)"
    >
    </app-job-preview>
  </div>
  <div class="col-8">
    <app-job-description
      [jobData]="currentJob"
      class="job-description-container"
      [balance]="balance"
      (onAIReturn)="onAIReturn()"
    >
    </app-job-description>
  </div>
</div>

<ng-template #showNothing>
  <div class="no-results">
    <i>No results found</i>
  </div>
</ng-template>
