.gpa-chip {
  margin-left: 2%;
}

.degree-specs {
  font-size: 0.9em;
}

.description {
  margin-top: 1%;
}

mat-card {
  background-color: black;
}

mat-expansion-panel {
  background-color: rgb(25, 23, 23);
  color: white;
}

mat-accordion, mat-expansion-panel-header {
  color: white;
}
