.example-card {
  margin: 10px 10px;
  transition: 0.3s;
  transition-property: all;
}

.example-card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.example-card-footer {
  padding: 16px;
}

mat-card {
  background-color: black;
}
