.description-card {
  margin: 10px 10px 10px 0px;
  overflow-y: scroll;
  max-height: calc(100vh 
  /* Header */
  - 63.99px
  /* Search Bar */
  - 135.97px
  /* Margin */
  - 22px
  );
  position: sticky;
  top: 10px;
  padding: 20px;
}

.description-card::-webkit-scrollbar {
  width: 10px;
}
 
.description-card::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.description-card::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.vertical-spacing{
  margin-top: 10px;
  margin-bottom: 10px
}