<mat-card *ngIf="jobData" appearance="outlined" class="description-card">
  <mat-card-header>
    <mat-card-title>
      {{ jobData.title }}
    </mat-card-title>
    <mat-card-subtitle>
      <span class="emphasize-teal">{{ jobData.employer }}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <br />
  <mat-card-actions class="job-buttons">
    <button mat-flat-button (click)="redirctToJob(jobData.link)">
      <mat-icon>open_in_new</mat-icon>
      Apply
    </button>
    <button
      color="accent"
      *ngIf="!jobData.saved; else showUnsave"
      mat-flat-button
      (click)="saveJob(jobData.id)"
    >
      <mat-icon> star </mat-icon>
      Save Job
    </button>
    <ng-template #showUnsave>
      <button mat-flat-button (click)="unsaveJob(jobData.id)">
        <mat-icon> star </mat-icon>
        Unsave Job
      </button>
    </ng-template>
    <button mat-flat-button (click)="promptAIModelSelection(jobData, 'letter')" [disabled]="loading">
      Generate Cover Letter
    </button>
    <button mat-flat-button (click)="promptAIModelSelection(jobData, 'resume')" [disabled]="loading">
      Generate Resume
    </button>
    <mat-spinner *ngIf="loading" class="ai-spinner"></mat-spinner>
  </mat-card-actions>
  <br />
  <mat-card-content *ngIf="jobData.attributes && jobData.attributes.length > 0">
    <p>Skills Required For Position</p>
    <div class="yourport-chipset">
      <div class="yourport-chip yourport-chip-teal" *ngFor="let attribute of jobData.attributes">
        {{ attribute }}
      </div>
    </div>
  </mat-card-content>
  <br *ngIf="jobData.attributes && jobData.attributes.length > 0" />
  <mat-card-content *ngIf="jobData.benefits && jobData.benefits.length > 0">
    <p>Benefits</p>
    <div class="yourport-chipset">
      <div class="yourport-chip yourport-chip-teal" *ngFor="let benefit of jobData.benefits">
        {{ benefit }}
      </div>
    </div>
  </mat-card-content>
  <br *ngIf="jobData.benefits && jobData.benefits.length > 0" />
  <mat-card-content>
    <div class="job-description" [innerHTML]="jobData.description"></div>
  </mat-card-content>
</mat-card>
