<mat-card *ngIf="jobData" appearance="outlined" class="description-card">

  <mat-card-header>
    <mat-card-title>{{ jobData.title }}</mat-card-title>
    <mat-card-subtitle>{{jobData.employer}}</mat-card-subtitle>
  </mat-card-header>
  <hr>
  <mat-card-actions>
    <button mat-flat-button (click)="generateCoverLetter(jobData)">
      Generate Cover Letter
    </button>
  </mat-card-actions>
  <hr>
  <mat-card-content *ngIf="jobData.attributes && jobData.attributes.length > 0">
    <p>Skills Required For Position</p>
    <mat-chip-set>
      <mat-chip *ngFor="let attribute of jobData.attributes">
        {{ attribute }}
      </mat-chip>
    </mat-chip-set>
  </mat-card-content>
  <hr *ngIf="jobData.attributes && jobData.attributes.length > 0">
  <mat-card-content *ngIf="jobData.benefits && jobData.benefits.length > 0">
    <p>Benefits</p>
    <mat-chip-set>
      <mat-chip *ngFor="let benefit of jobData.benefits">
        {{ benefit }}
      </mat-chip>
    </mat-chip-set>
  </mat-card-content>
  <hr *ngIf="jobData.benefits && jobData.benefits.length > 0">
  <mat-card-content>
    <div class="job-description" [innerHTML]="jobData.description"></div>
  </mat-card-content>
</mat-card>