.main-content-wrapper {
  width: 75%;
  margin: 0 auto;
  margin-top: 4%;
}

.paragraph {
  color: white;
  font-weight: 200;
  font-size: 1.2em;
}

.sample-image {
  width: 100%;
}

.sample-resume-wrapper {
  background-color: white;
  padding: 2%;
  border-radius: 10px;
  width: 70%;
  display: block;
  margin: auto;
  animation-name: bobbing;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes bobbing {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.information-wrapper {
  margin-bottom: 100px;
}

.steps-icon {
  color: white;
  transform: scale(2.3);
}

.how-it-works-card {
  padding: 10px;
}
