<app-home-navbar></app-home-navbar>
<div class="">
  <div class="main-content-wrapper">
    <h1>
      Cre<span class="emphasize-teal">dits</span>
    </h1>
    <p>
      This project was created by the following individuals: Jason Su and Miles Bernstein.
    </p>
    <h2>External UI Elements Used</h2>
    <ul>
      <li>
        Made with <a href="https://angular.dev/" target="_blank" class="font-white">Angular 18</a>.
      </li>
      <li>
        Multiple UI elements used from <a href="https://material.angular.io/" target="_blank" class="font-white">Angular Material</a>.
        <ul>
          <li>Buttons</li>
          <li>Dialogs</li>
          <li>Icons</li>
          <li>Inputs</li>
          <li>Progress Spinner</li>
          <li>And a few more...</li>
        </ul>
      </li>
      <li>
        <a href="https://www.jsdelivr.com/package/npm/apercu-font" target="_blank" class="font-white">Apercu font</a> was used for any typography on the page.
      </li>
    </ul>
    <h2>Other Technologies</h2>
    <ul>
      <li>Job postings are scraped from
        <a href="https://www.indeed.com/" target="_blank" class="font-white">Indeed</a>.
      </li>
    </ul>
  </div>
</div>
