<app-auth-header></app-auth-header>

<mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
    [pageSize]="pageSize" [pageIndex]="pageIndex" [showFirstLastButtons]="true" [hidePageSize]="true">

</mat-paginator>

<div class="saved-container">
    <div *ngIf="savedJobs.length > 0; else showNothing" class="row job-container">
        <div class="col-4">
            <app-job-preview *ngFor="let jobData of savedJobs" [jobData]="jobData" (click)="setItem(jobData.id)">
            </app-job-preview>
        </div>
        <div class="col-8">
            <app-job-description [jobData]="currentJob" class="job-description-container"> </app-job-description>
        </div>
    </div>

    <ng-template #showNothing>
        <div class="no-results">
            <i>No jobs saved</i>
        </div>
    </ng-template>
</div>