<app-auth-header></app-auth-header>
<div class="profile-wrapper">
  <div>
    <h1 class="heading apercu-font">
      Your <span class="emphasize-color">Profile</span>
    </h1>
    <p class="paragraph apercu-font">
      Your profile is a reflection of your skills, interests, experiences, and education. Make sure to keep it up to date!
      <br>
      Information from your profile will be used in cover letter and resume generation so please complete it to the best of your ability.
    </p>
  </div>
  <app-user-skills></app-user-skills>
  <app-user-interests></app-user-interests>
  <app-user-experiences></app-user-experiences>
  <app-user-education></app-user-education>
</div>
